<!DOCTYPE html>
<html lang="en">
<head>
    <title>Joel Hilton Movies</title>
</head>
<!-- This is the shared layout page. It sets the header for each page and has the navigation for each page.-->
<body>
    <header>
        <h1>@ViewBag.title</h1>
        <menu>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="Podcasts">Podcasts</a></li>
            <li><a asp-action="AddMovie">Add Movie</a></li>
            <li><a asp-action="MovieList">Movie List</a></li>
        </menu>
    </header>

    @RenderBody()
</body>
</html>
