@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Podcast Page with link to my other site";
}
<!-- Just an extra page with an external link on it-->
<div>
    <h3>Click <a href="https://baconsale.com/">Here</a> To see my podcasts</h3>
</div>
